
    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    #header {
        display: flex;
        text-align: center;
        /* background-color: gold; */
    }

    .wrap {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        /* background-color: gold; */
    }

    #aside-left {
        width: 10%;
        margin: 10px;
        background-color: gray;
    }

    #aside-right {
        width: 10%;
        margin: 10px;
        /* background-color: blue; */
    }

    .section {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        /* background-color: red; */
    }

    #article {
        width: auto;
        height: 400px;
        /* margin: 10px;
        padding: 10px; */
        /* background-color: aqua; */
    }
