.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage-wrapper {
    width:95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    /* Drop Shadow */
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
}

.mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.mypage div:last-child {
    margin-left: 10px;
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 6.25rem;
    background: #FE6B38;
    color: #FFF;
    /* B-02-Medium */
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
}
.mypage-avatar {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
}

.user-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-detail-child {
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 1.25rem;
    border: 1px solid #EEE;
    color: #000;
    text-align: right;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 10px;
    cursor: pointer;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    padding: 15px 15px 15px 15px;
    width:95%;
    /* Drop Shadow */
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.article-image {
    width: 8rem;
    height: auto;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 1px solid var(--grey-200, #EAEBED);
    background: lightgray 50% / cover no-repeat;
}
.article-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.article-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.article-content__title {
    display: flex;
    width: 10rem;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--grayscale-gray-900-text-title, #000);
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
}
.article-content__user,
.article-content__comments_count {color: var(--grey-600, #808080);
    /* B-03-Medium */
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
}
.article-content__edit {display: inline-flex;
    padding: 0.3125rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    border-radius: 6.25rem;
    border: 1px solid var(--grey-200, #EAEBED);
    background: var(--white, #FFF);
    color: var(--grey-600, #808080);
    /* B-02-Medium */
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
}
.article-content__likes_count,
.article-content__likes_count i {
    justify-content: center;
    align-items: center;
/* B-02-Medium */
font-size: 0.8125rem;
font-style: normal;
font-weight: 500;
line-height: 1.375rem;
}
.article-content__likes_count i {
    color: #FE6B38;
}
.article-content-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment {
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 15px 15px;
}
.comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background: #F5F5F5;
    border-radius: 0.625rem;
    padding: 15px;
}
.comment-detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.comment-text {
    text-align: center;
    margin-bottom: 10px;
}
.comment-article {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0.6rem;
    align-items: center;
    border-radius: 6.25rem;
    background: #FE6B38;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
    color: #FFFFFF;
}
.comment-updated {
    color: var(--grey-600, #808080);
    /* B-03-Medium */
    font-size: 0.825rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
    margin: 0px 15px;
}
.comment-like {
    color: var(--grey-600, #808080);
    /* B-03-Medium */
    font-size: 0.825rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
}
.pagination {
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.page-link {
    cursor: pointer;
    background: #FE6B38;
    color: #FFF;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
}
.follow-page {
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    padding: 15px 15px 15px 15px;
    /* Drop Shadow */
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.follow-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 0.625rem;
background: #F2F2F2;
padding: 15px;

}
.follow-avatar {
    width: 2.5rem;
height: 2.5rem;
flex-shrink: 0;
}
.follow-name {
    margin-left: 10px;
}
.follow-btn {
    margin-left: 10px;
    display: inline-flex;
padding: 0.75rem 1.1rem;
justify-content: center;
align-items: center;
gap: 0.3125rem;
border-radius: 6.25rem;
background: #FE6B38;
color: #FFF;
/* B-02-Medium */
font-size: 0.8125rem;
font-style: normal;
font-weight: 500;
line-height: 1.375rem;
cursor: pointer;
}
.comment-author {
    text-align: center;
    justify-self: center;
    margin-top: 5px;
    color: var(--grey-600, #808080);
    /* B-03-Medium */
    font-size: 0.825rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem;
}
